/******************************************
  Themes >> Modules
******************************************/

/******************************************
  Some tips for creating blocks / modules :
  - Add `c` prefix before the name of block or modules
  - Or Just copy paste this structure of styling code into your new block or components styling file
  - Dont forget to register your block or modules into `themes/_modules.scss`
******************************************/

/** This Place For Block Section **/
body[data-app-theme="airlie-blue-sky"] {
  & .#{$namespace} {
    & .c-section {
      &.section {
        &--hero {
          background-image: url('@/assets/images/bg-kipas.png');

          & .hero {
            &__event-title-subtitle {
              & .lead {
                font-size: 1.25rem;
                letter-spacing: 3px;
              }

              & .title {
                color: $primary-text-airlie-sky-blue;
                font-size: 4rem;
              }

              & .subtitle {
                letter-spacing: 4px;
                font-size: 1.25rem;
              }
            }
          }
        }

        &--couple {
          & .section {
            &__title {
              & .title {
                &__object-slots {
                  position: absolute;
                  top: 0;
                  width: 100%;

                  & .cloud {
                    width: 200px;
                  }

                  & .slot {
                    width: 200px;

                    &--left {
                      position: absolute;
                      left: -15%;
                    }

                    &--right {
                      position: absolute;
                      right: -15%;
                    }
                  }
                }
              }
            }

            &__content {
              & .content {
                &__about {
                  & .about {
                    &__avatar {
                      //
                    }

                    &__name {
                      font-size: 2rem;
                    }

                    &__bridge {
                      font-size: 8rem;
                    }
                  }
                }
              }
            }
          }
        }

        &--event {
          position: relative;
          width: 100%;
          min-height: 660px;
          max-height: 100vh;
          background-image: url('@/assets/images/bg-kipas.png');
          background-color: $bg-section-airlie-sky-blue;

          & .section {
            &__title {
              //
            }

            &__content {
              //
            }
          }

          & .event {
            &__object-slots {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;

              & .slot {
                width: 100%;
                height: 100%;

                & .tree {
                  position: absolute;
                  width: 400px;
                }

                & .cloud {
                  position: absolute;
                  width: 200px;
                }

                &--left {
                  position: absolute;
                  left: 0;

                  & .tree {
                    left: 0;
                    transform: translate(-20px, 10px);
                  }

                  & .cloud {
                    top: 0;
                    left: 0;
                  }
                }

                &--right {
                  position: absolute;
                  right: 0;

                  & .tree {
                    right: 0;
                  }

                  & .cloud {
                    bottom: 0;
                    right: 0;
                  }
                }
              }
            }

            &__event-title-subtitle {
              text-align: center;
            }

            &__days {
              font-size: 1.5rem;
            }

            &__date {
              margin-bottom: 16px;

              & .date {
                font-size: 4rem;
              }

              & .month {
                font-size: 1.5rem;
              }
            }

            &__name-time {
              font-size: 1.5rem;
              margin-bottom: 16px;

              & .name {
                //
              }

              & .time {
                //
              }
            }

            &__place {
              font-size: 1.5rem;

              & .name {
                //
              }

              & .address {
                //
              }
            }
          }
        }

        &--video {
          position: relative;
          width: 100%;
          min-height: 600px;
          max-height: 100vh;
          background-image: url('@/assets/images/bg-kipas.png');

          & .video {
            &__object-slots {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;

              & .slot {
                width: 100%;
                height: 100%;

                & .tree {
                  position: absolute;
                  width: 400px;
                }

                & .cloud {
                  position: absolute;
                  width: 200px;
                }

                &--left {
                  position: absolute;
                  left: 0;

                  & .tree {
                    left: 0;
                    transform: translate(-20px, 10px);
                  }

                  & .cloud {
                    top: 0;
                    left: 0;
                  }
                }

                &--right {
                  position: absolute;
                  right: 0;

                  & .tree {
                    right: 0;
                  }

                  & .cloud {
                    bottom: 0;
                    right: 0;
                  }
                }
              }
            }

            &__event-title-subtitle {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

/* ************************************ */
