/******************************************
  Variables
******************************************/

/************** Font **************/
$font-example: 'Example Fonts';
$font-example-path: './../fonts/example/';
$font-example-typeface: 'Example Fonts', sans-serif;

$font-roboto-typeface: 'Roboto', sans-serif;
$font-lato-typeface: 'Lato', sans-serif;
$font-nunito: 'Nunito Sans', sans-serif;

$typeface-primary: $font-nunito;

/* ************************************ */

/************** Theme Color **************/
$color-header: $color-red;
$color-body: $color-white;
$color-main-text: $color-black;
$color-line: $color-dark-light-gray;
$color-success: $color-green;

$color-purple: #3248DA;
$color-purple-secondary: #3248DA80;
$color-sky-blue: #00CAF2;
$color-white-grey: #F2F3F5;

$primary-color: $color-purple;
$secondary-color: $color-sky-blue;

/* ************************************ */
