/******************************************
  Mixin Clearfix
******************************************/

@mixin clearfix {
  &::before {
    content: '';
    clear: both;
  }

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
